body{
    background: #F5F5F5 0% 0% no-repeat padding-box;;
    color: black;
    font-family: "Gill Sans";
}

body *{
    font-family: "Gill Sans";
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    margin: 0;
    color: black;
}

a{
    color: black;
    text-decoration: underline;
}

a:hover{
    color: darkcyan;
    text-decoration: underline;
}

a:visited{
    color: darkcyan;
    text-decoration: underline;
}

input:hover{
    text-decoration: underline;
}
