body{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    color: black;
    font-family: Muna;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    padding:10px;
}

body *{
    font-family: Muna;
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    color: black;
}

.WebContainer{
    width: 100%;
}

/*======================================= Nav header div =======================*/
.TopHeader {
    overflow: hidden;
    background-color: #f5f5f5;
    position: sticky; /* keep it on top+ */
    z-index: 100; /*cover all texts*/
    top: 0; /* Position the navbar at the top of the page */
    height: 80px;
    width: 100%;/*  Full width */
    display: grid;
    align-items: center;
    grid-template-columns: 180px auto;

}

/*======================================= Time range buttons =======================*/

.timeRangeButton{
    cursor: pointer;
    background: #f5f5f5 0% 0% no-repeat padding-box;
    border: solid;
    border-radius: 20px;
    border-color: #F5F5F5;
    font: normal normal normal 20px/30px Helvetica;
    letter-spacing: 0px;
    color: #707070;
}

.timeRangeButton:hover{
    background-color: #FACC5C;
}

.timeRangeButton:focus{
    background-color: #FACC5C;
}

/*======================================= Log out buttons =======================*/
.logoutButton{
    cursor: pointer;
    background: #f5f5f5;
    border: solid;
    border-radius: 50px;
    border-color: #F5F5F5;
    font: normal normal normal 20px/30px Helvetica;
    color: #707070;
    letter-spacing: 0px;
}

.logoutButton:hover{
    background-color: #FACC5C;
    text-decoration: underline;
}

/*======================================= circle stats div =======================*/
.statsContainer {
    display: grid;
    align-items: center;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.statsItem {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;

    padding: 0;

    display: grid;
    align-items: center;
    margin-left: 10px;
    /*grid-template-columns: 10rem auto;*/
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 80%;
    gap: 0px 0px;
    grid-template-areas:
            "stat_img stat_num"
            "stat_img stat_descrip";
}
.stat_img {
    grid-area: stat_img;
}
.stat_num {
    grid-area: stat_num;
    max-height: 50px;
}
.stat_descrip {
    grid-area: stat_descrip;
    max-height: 60px;
}

.statsNumFont {
    font:normal normal normal 30px/35px Garamond Premier Pro;
    letter-spacing: 0px;
    color: #404040;
    text-align: left;
    max-height: 5px;

}
.statsDescriptionFont {
    font:normal normal normal 20px/24px Helvetica;
    letter-spacing: 0px;
    color: #404040;
    opacity: 0.71;
    text-align: left;
    max-height: 5px;
}

/*======================================= Charts div =======================*/
.barCharts {
    background-color: #f5f5f5;
    width: 100%;/*  Full width */
    display: grid;
    align-items: center;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.eachBarChart {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 25px;

    padding: 10px;
    display: grid;
    align-items: center;
    margin-left: 10px;
    grid-template-rows: 10% 90%;
    gap: 0px 0px;
}

.chartTitleFont {
    text-align: center;

    font: normal normal normal 25px/25px Helvetica;
    color: #404040;
    opacity: 0.71;
}

/*======================================= Image Link div =======================*/
.imgDiv {
    background-color: #f5f5f5;
    width: 100%;/*  Full width */
    display: grid;
    align-items: center;
    grid-template-columns: auto 5rem 5rem 5rem auto;
}

/*======================================= Footer div =======================*/
.footer {
    background-color: #f5f5f5;
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%;/*  Full width */
    display: grid;
    align-items: center;
    grid-template-columns: 180px auto 7rem 7rem 5rem;
}


hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.vertical-line{
    display: inline-block;
    border-left: 2px solid #ccc;
    margin: 0 10px;
    height: 50px;
}

/*======================================= Address searching div =======================*/

.addressSearchBox {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 25px;

    padding: 10px;
    align-items: center;
    margin-left: 10px;
}


.searchButton{
    cursor: pointer;
    background: #FFFFFF;
    border: none;
    border-radius: 50px;
    border-color: #707070;
    font: normal normal normal 20px/25px Helvetica;
    color: #707070;
    letter-spacing: 0px;
    text-decoration: underline;
}

.searchButton:hover{
    background-color: #FACC5C;

}
