<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving Circle Dashboard</title>
    <link rel="stylesheet" href="/static/css/login_styles.css">

</head>
<body>
    <br><br>

    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<img style="width: 400px;height: 120px;display: block; margin-left: auto; margin-right: auto;" src="static/css/icon.png">
    <br><br>
    <h1 style="text-align:center;font: normal normal normal 33px/35px Muna;letter-spacing: 0px;color: #707070;">Saving Circles for Unbanked Farmers</h1>
    <br><br><br>
    <form style="text-align:center;font: normal normal normal 30px/30px Muna;letter-spacing: 0px;color: #707070;" method="post">
        {% csrf_token %}
        {{ login_form }}
        <br><br>
        <input class="loginButton" style="border: solid;border-color: #FACC5C;cursor: pointer; background: #FACC5C 0% 0% no-repeat padding-box;border-radius: 14px;width: 120px;height: 50px;text-align: center;font: normal normal bold 30px/35px Muna;letter-spacing: 0px;color: #707070;" type="submit" value="Login">
    </form>
</body>
</html>
