<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving Circle Dashboard</title>
    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>
    <br><br>

    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<img src="static/css/icon.png">
    <h1>Saving Circle Dashboard Login</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ login_form }}
        <input type="submit" value="Login">
    </form>
</body>
</html>