<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving Circle Dashboard</title>
    <link rel="stylesheet" href="/static/css/main_styles.css">

</head>
<body>

    <div class="WebContainer">

        <header class="TopHeader">
            <br>
            <img style="width: 200px;height: 70px;display: block;" src="static/css/icon.png">
            <hr>
        </header>

        <div class="btn-group">
            <form action="{% url 'django_admin' %}" method="post">
                {% csrf_token %}
                <button type="submit">Django Admin</button>
            </form>

            <button onclick="window.location.href='/download_circle'">Download circles_created.csv</button>
            <button onclick="window.location.href='/download_deposit'">Download deposits_made.csv</button>
            <button onclick="window.location.href='/download_request'">Download requests_made.csv</button>

            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Dashboard Logout</button>
            </form>
        </div>

        <br><br>

        <hr>

        <p style="margin-left: 20px; font-size:30px;">Current Stats: </p>

        <div class="container">

            <div class="item">
                <p style="font-size:20px;">
                &emsp;# of Circles created:&ensp;&ensp;{{ amount_of_circles }}<br><br>
                &emsp;# of Deposits made:&ensp;&ensp;{{ amount_of_deposits }}<br><br>
                &emsp;# of Loan requests made:&ensp;&ensp;2<br>
                </p>
            </div>

            <div class="item">
                <p style="font-size:20px;">
                &emsp;Total Deposits:<br>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;${{ dollar_amount_of_deposits }} <br><br>
                &emsp;Total Loan Requests:<br>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;${{ 100 }}
                </p>
            </div>
        </div>
        <br>

        <hr>

        <div style="margin-left: 20px">
            <p style="font-size:30px;">Adjust Time Range (UTC time)</p>
            <button onclick="change_ALLdays()">All</button>
            <button onclick="change_30days()">30D</button>
            <button onclick="change_365days()">1Y</button>
        </div>


        <!-- Circle count Chart-->
        <div style=" width: 1000px; height:500px;">
            <p style="font-size:30px; text-align: center;">Circles Created Frequency</p>

            <canvas id="circleCount_chart" width="800" height="400" style="margin: 0 auto;"></canvas>
        </div>

        <!-- deposit count Chart-->
        <div style=" width: 1000px; height:500px;">
            <p style="font-size:30px; text-align: center;">Deposits Made Frequency</p>

            <canvas id="depositCount_chart" width="800" height="400" style="margin: 0 auto;"></canvas>
        </div>
    </div>




    <script>

        var daysALL_circle_created_dates_list = [
            {% for item in circle_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var daysALL_circle_dailyCount_list = [
            {% for item in circle_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days30_circle_created_dates_list = [
            {% for item in 30days_circle_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days30_circle_dailyCount_list = [
            {% for item in 30days_circle_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days365_circle_created_dates_list = [
            {% for item in 365days_circle_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days365_circle_dailyCount_list = [
            {% for item in 365days_circle_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ];

        var daysALL_deposit_created_dates_list = [
            {% for item in deposit_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var daysALL_deposit_dailyCount_list = [
            {% for item in deposit_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days30_deposit_created_dates_list = [
            {% for item in 30days_deposit_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days30_deposit_dailyCount_list = [
            {% for item in 30days_deposit_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days365_deposit_created_dates_list = [
            {% for item in 365days_deposit_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days365_deposit_dailyCount_list = [
            {% for item in 365days_deposit_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ]

    </script>


    <!--link for chart.js on cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.0/chart.min.js"></script>

    <!--link for other js files-->
    <script src="static/js/main.js"></script>


</body>
</html>