<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving Circle Dashboard</title>
    <link rel="stylesheet" href="/static/css/main_styles.css">

</head>
<body>

    <div class="WebContainer">

        <header class="TopHeader">
            <img style="width: 151px;height: 50px;display: block;" src="static/css/icon.png">


            <div style="margin-left: 20px">
                <button class="timeRangeButton" onclick="change_ALLdays()">All</button>&nbsp;&nbsp;
                <button class="timeRangeButton" onclick="change_30days()">M</button>&nbsp;&nbsp;
                <button class="timeRangeButton" onclick="change_7days()">Ygit</button>
            </div>


        </header>

        <br><br>

        <div class="statsContainer">

            <div class="statsItem">
                <div class="stat_img">
                    <img style="margin-left: 20px; width: 60px;height: 60px;display: block;" src="static/css/circle.png">
                </div>
                <div class="stat_num">
                    <p class="statsNumFont">{{ amount_of_circles }}</p>
                </div>
                <div class="stat_descrip">
                    <p class="statsDescriptionFont" >Circles Created</p>
                </div>
            </div>

            <div class="statsItem">
                <div class="stat_img">
                    <img style="margin-left: 20px; width: 60px;height: 60px;display: block;" src="static/css/active_user.png">
                </div>
                <div class="stat_num">
                    <p class="statsNumFont">{{ amount_of_users }}</p>
                </div>
                <div class="stat_descrip">
                    <p class="statsDescriptionFont" >Active Users</p>
                </div>
            </div>

            <div class="statsItem">
                <div class="stat_img">
                    <img style="margin-left: 20px; width: 60px;height: 60px;display: block;" src="static/css/cash.png">
                </div>
                <div class="stat_num">
                    <p class="statsNumFont">${{ dollar_amount_of_deposits }}</p>
                </div>
                <div class="stat_descrip">
                    <p class="statsDescriptionFont" >Total Deposits</p>
                </div>
            </div>

            <div class="statsItem">
                <div class="stat_img">
                    <img style="margin-left: 20px; width: 60px;height: 60px;display: block;" src="static/css/loan_request.png">
                </div>
                <div class="stat_num">
                    <p class="statsNumFont">{{ amount_of_requests }}</p>
                </div>
                <div class="stat_descrip">
                    <p class="statsDescriptionFont" ># of Requests</p>
                </div>
            </div>
        </div>

        <br><br>

        <div class="barCharts">
            <!-- Circle count Chart-->
            <div class="eachBarChart">
                <p class="chartTitleFont">Circle Created Frequency</p>

                <canvas id="circleCount_chart" width="500" height="400" style="margin: 0 auto;"></canvas>
            </div>

            <!-- deposit count Chart-->
            <div class="eachBarChart">
                <p class="chartTitleFont">Deposit Made Frequency</p>

                <canvas id="depositCount_chart" width="500" height="400" style="margin: 0 auto;"></canvas>
            </div>

            <!-- Deposit Amount Chart-->
            <div class="eachBarChart">
                <p class="chartTitleFont">Deposit Made Amount</p>

                <canvas id="depositAmount_chart" width="500" height="400" style="margin: 0 auto;"></canvas>
            </div>

            <!-- Request count Chart-->
            <div class="eachBarChart">
                <p class="chartTitleFont">Request Made Frequency</p>

                <canvas id="requestCount_chart" width="500" height="400" style="margin: 0 auto;"></canvas>
            </div>

            <!-- Request Amount Chart-->
            <div class="eachBarChart">
                <p class="chartTitleFont">Request Made Amount</p>

                <canvas id="requestAmount_chart" width="500" height="400" style="margin: 0 auto;"></canvas>
            </div>

        </div>

        <br><br>


        <div class="addressSearchBox">
            <form style="width: 100%; margin-left: 10px;" action = "{% url 'download_user_circle' %}" method = "POST">
                {% csrf_token %}
                <label class="statsDescriptionFont" for="user_circle_address">Search User/Circle Address:<br> </label>
                <input style="height:30px; width: 30%; border-radius: 4px;align-items: center; border: none; background-color: #F5F5F5;" id="user_circle_address" type="text" name="user_circle_address">
                <input class="searchButton" type="submit" value="Search">
            </form>
        </div>

        <br><br>

        <div class="imgDiv">
            <div>&nbsp;</div>


            <div>
                <a href="https://github.com/MrColinHan/saving-circle-portal" target="_blank" title="Web Portal">
                    <img style="width: 50px;height: 50px;display: block;" src="static/css/github.png">
                </a>

            </div>

            <div>
                <a href="https://thegraph.com/legacy-explorer/subgraph/mrcolinhan/saving-circle-subgraph" target="_blank" title="SubGraph">
                    <img style="width: 50px;height: 50px;display: block;" src="static/css/theGraph.png">
                </a>

            </div>

            <div>
                <a href="https://celohub.org/" target="_blank">
                    <img style="width: 50px;height: 50px;display: block;" src="static/css/openCelo.png">
                </a>
            </div>

        </div>

        <hr>

        <div class="footer">
            <p style="font: normal normal bold 20px/20px Helvetica;letter-spacing: 0px;color: #404040;opacity: 0.71;">CSV Downloads:</p>

            <div>
                <button class="timeRangeButton" onclick="window.location.href='/download_circle'">Circles</button>
                <button class="timeRangeButton" onclick="window.location.href='/download_deposit'">Deposits</button>
                <button class="timeRangeButton" onclick="window.location.href='/download_request'">Requests</button>
            </div>

            <form action="{% url 'django_admin' %}" method="post">
                {% csrf_token %}
                <button class="logoutButton" type="submit">Admin</button>
            </form>

            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="logoutButton" type="submit">Logout</button>
            </form>




        </div>

    </div>




    <script>

        var daysALL_circle_created_dates_list = [
            {% for item in circle_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var daysALL_circle_dailyCount_list = [
            {% for item in circle_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days30_circle_created_dates_list = [
            {% for item in 30days_circle_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days30_circle_dailyCount_list = [
            {% for item in 30days_circle_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days7_circle_created_dates_list = [
            {% for item in 7days_circle_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days7_circle_dailyCount_list = [
            {% for item in 7days_circle_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ];


        var daysALL_deposit_created_dates_list = [
            {% for item in deposit_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var daysALL_deposit_dailyCount_list = [
            {% for item in deposit_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days30_deposit_created_dates_list = [
            {% for item in 30days_deposit_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days30_deposit_dailyCount_list = [
            {% for item in 30days_deposit_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days7_deposit_created_dates_list = [
            {% for item in 7days_deposit_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days7_deposit_dailyCount_list = [
            {% for item in 7days_deposit_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ];

        var daysALL_deposit_dailyAmount_list = [
            {% for item in deposit_dailyAmount_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days30_deposit_dailyAmount_list = [
            {% for item in 30days_deposit_dailyAmount_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days7_deposit_dailyAmount_list = [
            {% for item in 7days_deposit_dailyAmount_list %}
            "{{ item }}",
            {% endfor %}
        ];


        var daysALL_request_created_dates_list = [
            {% for item in request_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var daysALL_request_dailyCount_list = [
            {% for item in request_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days30_request_created_dates_list = [
            {% for item in 30days_request_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days30_request_dailyCount_list = [
            {% for item in 30days_request_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days7_request_created_dates_list = [
            {% for item in 7days_request_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days7_request_dailyCount_list = [
            {% for item in 7days_request_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var daysALL_request_dailyAmount_list = [
            {% for item in request_dailyAmount_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days30_request_dailyAmount_list = [
            {% for item in 30days_request_dailyAmount_list %}
            "{{ item }}",
            {% endfor %}
        ];
        var days7_request_dailyAmount_list = [
            {% for item in 7days_request_dailyAmount_list %}
            "{{ item }}",
            {% endfor %}
        ];


    </script>


    <!--link for chart.js on cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.0/chart.min.js"></script>

    <!--link for other js files-->
    <script src="static/js/main.js"></script>


</body>
</html>