<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving Circle Dashboard</title>
    <link rel="stylesheet" href="/static/css/main_styles.css">

</head>
<body>
    <h1 style="text-align:center; font-size: 40px;">Saving Circle Dashboard</h1>

    <br><br>

    <div class="btn-group">
        <form action="{% url 'django_admin' %}" method="post">
            {% csrf_token %}
            <button type="submit">Django Admin</button>
        </form>

        <button onclick="window.location.href='/download_circle'">Download circles_created.csv</button>

        <button onclick="window.location.href='/download_deposit'">Download deposits_made.csv</button>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Dashboard Logout</button>
        </form>
    </div>

    <br><br>
    <p style="margin-left: 20px; font-size:30px;">Current Stats: </p>

    <div class="container">

        <div class="item">
            <p style="font-size:20px;">
            &emsp;# of Circles created:&ensp;&ensp;{{ amount_of_circles }}<br>
            &emsp;# of Deposits made:&ensp;&ensp;7<br>
            &emsp;# of Loan requests made:&ensp;&ensp;2<br>
            </p>
        </div>

        <div class="item">
            <p style="font-size:20px;">
            &emsp;Total Deposits:<br>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{{ amount_of_circles }} $<br><br>
            &emsp;Total Loan Requests:<br>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{{ amount_of_circles }} $
            </p>
        </div>
    </div>



    <!-- Circle count Chart-->
    <div style=" width: 1000px; height:500px;">
        <p style="font-size:20px;position:relative; left:300px;">Circle Created Frequency</p>
        <button onclick="show_circle_chart()">30D</button>
        <button onclick="show_circle_chart()">60D</button>
        <button onclick="show_circle_chart()">1Y</button>
        <button onclick="show_circle_chart()">All</button>
        <canvas id="circleCount_chart" width="800" height="300"></canvas>
    </div>
    <script>
        var circle_created_dates_list = [
            {% for item in circle_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ]
        var circle_dailyCount_list = [
            {% for item in circle_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ]
    </script>





</body>
</html>