<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saving Circle Dashboard</title>

</head>
<body>

    <h1 style="text-align:center">Saving Circle Dashboard</h1>

    <div style="width: 400px; height:300px;position:absolute; left:100px;top:100px; border:1px; border-style:solid; border-color:#F4D03F; padding-left: 10px;">
        <p style="font-size:20px;">
            Current Stats: <br><br>
            &emsp;number of Circles created:&ensp;&ensp;{{ amount_of_circles }}<br>
            &emsp;number of active users:&ensp;&ensp;1<br>
            &emsp;number of deposits made:&ensp;&ensp;7<br>
            &emsp;number of loan requests made:&ensp;&ensp;2<br>
        </p>
    </div>

    <!-- Circle count Chart-->
    <div style=" width: 1000px; height:500px; position:absolute; left:800px;top:100px;">
        <p style="font-size:20px;position:relative; left:300px;">Circle Created Frequency</p>
        <button onclick="show_circle_chart()">30D</button>
        <button onclick="show_circle_chart()">60D</button>
        <button onclick="show_circle_chart()">1Y</button>
        <button onclick="show_circle_chart()">All</button>
        <canvas id="circleCount_chart" width="800" height="300"></canvas>
    </div>
    <script>
        var circle_created_dates_list = [
            {% for item in circle_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ]
        var circle_dailyCount_list = [
            {% for item in circle_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ]
    </script>


    <!-- Deposit count Chart-->
    <div style=" width: 1000px; height:500px; position:absolute; left:100px;top:600px;">
        <p style="font-size:20px;position:relative; left:300px;">Deposit Made Frequency</p>
        <button onclick="show_circle_chart()">30D</button>
        <button onclick="show_circle_chart()">60D</button>
        <button onclick="show_circle_chart()">1Y</button>
        <button onclick="show_circle_chart()">All</button>
        <canvas id="depositCount_chart" width="600" height="300"></canvas>
    </div>
    <script>
        var deposit_created_dates_list = [
            {% for item in deposit_created_dates_list %}
            "{{ item }}",
            {% endfor %}
        ]
        var deposit_dailyCount_list = [
            {% for item in deposit_dailyCount_list %}
            "{{ item }}",
            {% endfor %}
        ]
    </script>

    <!-- loan request count Chart-->
    <div style=" width: 1000px; height:500px; position:absolute; left:800px;top:600px;">
        <p style="font-size:20px;position:relative; left:300px;">Loan request Made Frequency</p>
        <button onclick="show_circle_chart()">30D</button>
        <button onclick="show_circle_chart()">60D</button>
        <button onclick="show_circle_chart()">1Y</button>
        <button onclick="show_circle_chart()">All</button>
        <canvas id="loanRequestCount_chart" width="800" height="300"></canvas>
    </div>

    <!--link for chart.js on cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.0/chart.min.js"></script>

    <!--link for other js files-->
    <script src="static/js/main.js"></script>


</body>
</html>